# What is ID Verification {#concept_mz5_jtm_1gb .concept}

ID Verification is a biometrics and OCR-based verification service that verifies the identity of a natural person through facial recognition and face anti-spoofing. These technologies help you verify that an operation is performed by the specified user in person.

ID Verification offers technical support for compliance requirements, risk management, and anti-fraud scenarios. It has been widely used in the e-commerce, finance, logistics, hospitality, and digital entertainment industries.

